# Sensor Based Activity Recoginition 
Challenge: cdl1 - Sensor based Activity Recognition  
Team: Lea BÃ¼tler, Manjavy Kirupa, Etienne Roulet, Si Ben Tran  

Aufgabe: DL Modell erstellen

Hier in diesem Notebook erstellen wir unsere Deep Learning Modelle.

# Libraries / Packages

In [1]:
import tensorflow as tf
from sklearn.model_selection import KFold
import numpy as np
import logging
from datetime import datetime
import dataclasses
import pandas as pd
import tensorflow as tf
from sklearn.preprocessing import LabelEncoder
from sklearn import model_selection as ms
from sklearn.model_selection import train_test_split, TimeSeriesSplit
from keras.utils import to_categorical
from sklearn.model_selection import train_test_split
from keras.utils import to_categorical
import os
from tensorflow.keras.callbacks import TensorBoard
import sklearn

tf.debugging.set_log_device_placement(False)

# datetime as filename for logging
now = datetime.now()
date_time_string = now.strftime("%Y-%m-%d_%H-%M-%S")

logging.basicConfig(level=logging.INFO, filename = f"{date_time_string}.txt", filemode='a')
print(tf.config.list_physical_devices())

[PhysicalDevice(name='/physical_device:CPU:0', device_type='CPU')]

In [2]:
%tensorboard --logdir logs

UsageError: Line magic function `%tensorboard` not found.

In [3]:
from dataclasses import dataclass
# Static Parameters
@dataclass
class Parameters():
    batch_size: int = 128
    epochs: int = 10
    verbosity: str = "auto"
    step_size: int = 374
    number_folds: int = 2
    output_size: int = 6

# Daten einlesen

In [4]:
# read the CSV file into a DataFrame
data = pd.read_csv("../Sensor_Data-Wrangling-und-EDA/Alle_Messungen_trimmed.csv", index_col=0) 
display("Read Data", data.head(5))

# convert the string time column to datetime
epoch = pd.Timestamp('1970-01-01')

data['time'] = pd.to_datetime(data['time'])

data['time'] = (data['time'] - epoch).apply(lambda x: int(x.total_seconds() * 1000))

# drop the columns that are not needed
data = data.drop(columns=["id", "user"])

le = LabelEncoder()
data["class"] = le.fit_transform(data["class"])

data.head(5)

'Read Data'

,time,Accelerometer_x,Accelerometer_y,Accelerometer_z,Gyroscope_x,Gyroscope_y,Gyroscope_z,Magnetometer_x,Magnetometer_y,Magnetometer_z,Orientation_qx,Orientation_qy,Orientation_qz,id,user,class,id_combined
1,2023-02-27 15:02:17.156,0.000,9.722,1.278,0.0,0.0,0.0,0.000000,0.0,0.000000,-0.21775,-0.719579,0.631111,01_SamsungA22-2023-02-27_15-02-03,Ben_Tran,Laufen,01_SamsungA22-2023-02-27_15-02-03Ben_TranLaufen
2,2023-02-27 15:02:31.574,-0.728,9.779,0.000,0.0,0.0,0.0,0.000000,0.0,0.000000,-0.42065,0.568356,-0.598058,01_SamsungA22-2023-02-27_15-02-03,Ben_Tran,Laufen,01_SamsungA22-2023-02-27_15-02-03Ben_TranLaufen
3,2023-02-27 15:02:16.685,0.000,0.000,0.000,0.0,0.0,0.0,0.000000,43.5,-13.143750,0.00000,0.000000,0.000000,01_SamsungA22-2023-02-27_15-02-03,Ben_Tran,Laufen,01_SamsungA22-2023-02-27_15-02-03Ben_TranLaufen
4,2023-02-27 15:02:32.295,0.000,0.000,0.000,0.0,0.0,0.0,-13.012501,0.0,20.587502,0.00000,0.000000,0.000000,01_SamsungA22-2023-02-27_15-02-03,Ben_Tran,Laufen,01_SamsungA22-2023-02-27_15-02-03Ben_TranLaufen
5,2023-02-27 15:02:33.285,0.000,0.000,0.000,0.0,0.0,0.0,-22.612501,0.0,20.268751,0.00000,0.000000,0.000000,01_SamsungA22-2023-02-27_15-02-03,Ben_Tran,Laufen,01_SamsungA22-2023-02-27_15-02-03Ben_TranLaufen

,time,Accelerometer_x,Accelerometer_y,Accelerometer_z,Gyroscope_x,Gyroscope_y,Gyroscope_z,Magnetometer_x,Magnetometer_y,Magnetometer_z,Orientation_qx,Orientation_qy,Orientation_qz,class,id_combined
1,1677510137156,0.000,9.722,1.278,0.0,0.0,0.0,0.000000,0.0,0.000000,-0.21775,-0.719579,0.631111,0,01_SamsungA22-2023-02-27_15-02-03Ben_TranLaufen
2,1677510151574,-0.728,9.779,0.000,0.0,0.0,0.0,0.000000,0.0,0.000000,-0.42065,0.568356,-0.598058,0,01_SamsungA22-2023-02-27_15-02-03Ben_TranLaufen
3,1677510136685,0.000,0.000,0.000,0.0,0.0,0.0,0.000000,43.5,-13.143750,0.00000,0.000000,0.000000,0,01_SamsungA22-2023-02-27_15-02-03Ben_TranLaufen
4,1677510152295,0.000,0.000,0.000,0.0,0.0,0.0,-13.012501,0.0,20.587502,0.00000,0.000000,0.000000,0,01_SamsungA22-2023-02-27_15-02-03Ben_TranLaufen
5,1677510153285,0.000,0.000,0.000,0.0,0.0,0.0,-22.612501,0.0,20.268751,0.00000,0.000000,0.000000,0,01_SamsungA22-2023-02-27_15-02-03Ben_TranLaufen

In [5]:
df_train_idx, df_val_idx = next(iter(sklearn.model_selection.GroupShuffleSplit(n_splits=1, test_size=0.2, random_state=718).split(data, groups=data['id_combined'])))
df_train = data.iloc[df_train_idx]
df_val = data.iloc[df_val_idx]

display("df_train", df_train.head(5))
display("df_val", df_val.head(5))

# drop id_combined column in df_train and df_val
df_train = df_train.drop(columns=["id_combined"])
df_val = df_val.drop(columns=["id_combined"])

'df_train'

,time,Accelerometer_x,Accelerometer_y,Accelerometer_z,Gyroscope_x,Gyroscope_y,Gyroscope_z,Magnetometer_x,Magnetometer_y,Magnetometer_z,Orientation_qx,Orientation_qy,Orientation_qz,class,id_combined
1,1677510137156,0.000,9.722,1.278,0.0,0.0,0.0,0.000000,0.0,0.000000,-0.21775,-0.719579,0.631111,0,01_SamsungA22-2023-02-27_15-02-03Ben_TranLaufen
2,1677510151574,-0.728,9.779,0.000,0.0,0.0,0.0,0.000000,0.0,0.000000,-0.42065,0.568356,-0.598058,0,01_SamsungA22-2023-02-27_15-02-03Ben_TranLaufen
3,1677510136685,0.000,0.000,0.000,0.0,0.0,0.0,0.000000,43.5,-13.143750,0.00000,0.000000,0.000000,0,01_SamsungA22-2023-02-27_15-02-03Ben_TranLaufen
4,1677510152295,0.000,0.000,0.000,0.0,0.0,0.0,-13.012501,0.0,20.587502,0.00000,0.000000,0.000000,0,01_SamsungA22-2023-02-27_15-02-03Ben_TranLaufen
5,1677510153285,0.000,0.000,0.000,0.0,0.0,0.0,-22.612501,0.0,20.268751,0.00000,0.000000,0.000000,0,01_SamsungA22-2023-02-27_15-02-03Ben_TranLaufen

'df_val'

,time,Accelerometer_x,Accelerometer_y,Accelerometer_z,Gyroscope_x,Gyroscope_y,Gyroscope_z,Magnetometer_x,Magnetometer_y,Magnetometer_z,Orientation_qx,Orientation_qy,Orientation_qz,class,id_combined
16,1677575463383,-3.141,9.109,1.820,0.0,0.0,0.0,-18.356251,31.612501,0.0,-0.657214,0.401102,-0.491841,0,02_SamsungA22-2023-02-28_09-10-35Ben_TranLaufen
17,1677575464033,-4.477,8.223,2.914,0.0,0.0,0.0,-23.812500,31.200001,0.0,-0.678102,0.434507,-0.519530,0,02_SamsungA22-2023-02-28_09-10-35Ben_TranLaufen
18,1677575519461,-2.202,9.556,0.000,0.0,0.0,0.0,0.000000,0.000000,0.0,-0.081940,-0.702351,0.665977,0,02_SamsungA22-2023-02-28_09-10-35Ben_TranLaufen
19,1677575558303,-4.255,8.713,1.459,0.0,0.0,0.0,7.312500,15.000001,0.0,-0.060851,-0.755459,0.561323,0,02_SamsungA22-2023-02-28_09-10-35Ben_TranLaufen
20,1677575558333,-4.328,8.586,1.925,0.0,0.0,0.0,7.500000,15.600000,0.0,-0.038544,-0.772449,0.551135,0,02_SamsungA22-2023-02-28_09-10-35Ben_TranLaufen

In [12]:
# Set the window size and step size
window_size = 300
step_size = 100

y = df_train["class"].values
X = df_train.drop(columns=["class"]).values

# display y and X
display("y", y)
display("X", X)

# Create a sliding window of X with the specified window and step sizes
X_windows = np.array([X[i:i+window_size,:] for i in range(0,X.shape[0]-window_size+1,step_size)])

# Reshape X_windows to 3D format (samples, timesteps, features)
timesteps = X_windows.shape[1]
n_features = X_windows.shape[2]
X_windows = X_windows.reshape(-1, timesteps, n_features)

# Create the corresponding y labels for the sliding windows
y_windows = np.array([y[i+window_size-1] for i in range(0,X.shape[0]-window_size+1,step_size)])
y_windows = to_categorical(y_windows, num_classes=6)

# Display the X_windows and y_windows 
#display("X_windows", X_windows)
#display("y_windows", y_windows)

# Split the dataset into training and testing sets
train_X, test_X, train_y, test_y = train_test_split(X_windows, y_windows, test_size=0.2, random_state=42)

'y'

array([0, 0, 0, ..., 5, 5, 5])

'X'

array([[ 1.67751014e+12,  0.00000000e+00,  9.72200012e+00, ...,
        -2.17749998e-01, -7.19578981e-01,  6.31111026e-01],
       [ 1.67751015e+12, -7.27999985e-01,  9.77900028e+00, ...,
        -4.20650005e-01,  5.68355978e-01, -5.98057985e-01],
       [ 1.67751014e+12,  0.00000000e+00,  0.00000000e+00, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       ...,
       [ 1.67854032e+12,  9.94240170e-01,  3.07503464e+00, ...,
         9.59244333e-01, -4.56052347e-03,  2.82537639e-01],
       [ 1.67854032e+12,  4.23653867e-01,  2.43334855e+00, ...,
         9.59244933e-01, -5.84288178e-03,  2.82514528e-01],
       [ 1.67854032e+12,  1.17072136e-01,  1.64349815e+00, ...,
         9.59104863e-01, -7.07405861e-03,  2.82961185e-01]])

In [13]:
# Something like this as first Model
def create_model_1():
    model = tf.keras.Sequential([
        # Add a 1D convolutional layer
        tf.keras.layers.Conv1D(filters=16, kernel_size=4, activation='relu', padding='same', input_shape=(timesteps, n_features)),
        
        tf.keras.layers.LSTM(100, dropout=0.2, recurrent_dropout=0.2),
        tf.keras.layers.Dropout(0.2),

        # Add a dense output layer
        tf.keras.layers.Dense(6, activation='softmax')  # Change activation function based on the nature of the output
    ])
    # Change the loss function based on the nature of the output
    model.compile(optimizer='adam',   loss='categorical_crossentropy', metrics=['accuracy', tf.keras.metrics.Precision(), tf.keras.metrics.Recall()])  
    return model

def create_model_2():
    model = tf.keras.Sequential([
        # Add a 1D convolutional layer
        tf.keras.layers.Conv1D(filters=10, kernel_size=4, activation='relu', padding='same', input_shape=(timesteps, n_features)),
        tf.keras.layers.MaxPooling1D(pool_size=2),
        tf.keras.layers.Conv1D(filters=10, kernel_size=4, activation='relu', padding='same'),
        tf.keras.layers.MaxPooling1D(pool_size=2),

        # flatten output 
        tf.keras.layers.Flatten(),

        # add dense layer with relu activation
        tf.keras.layers.Dense(180, activation='relu'),
        tf.keras.layer.Dense(100, activation='relu'),
        # add output layer with softmax activation
        tf.keras.layers.Dense(6, activation='softmax')  # Change activation function based on the nature of the output

    ])
    # Change the loss function based on the nature of the output
    model.compile(optimizer='adam',   loss='categorical_crossentropy', metrics=['accuracy', tf.keras.metrics.Precision(), tf.keras.metrics.Recall()])
    return model

def create_model_4():
    model = tf.keras.Sequential([
        # Add a 1D convolutional layer
        tf.keras.layers.Conv1D(filters=64, kernel_size=2, activation='relu', padding='same', input_shape=(timesteps, n_features)),
        
        tf.keras.layers.LSTM(100, dropout=0.2, recurrent_dropout=0.2),
        tf.keras.layers.Dropout(0.2),

        # Add a dense output layer
        tf.keras.layers.Dense(6, activation='softmax')  # Change activation function based on the nature of the output
    ])
    model.compile(optimizer='adam',   loss='categorical_crossentropy', metrics=['accuracy', tf.keras.metrics.Precision(), tf.keras.metrics.Recall()])  # Change the loss function based on the nature of the output
    return model

In [14]:
best_model_history = None  # Keep track of the best model's history
model_histories = []

models = [create_model_1, create_model_2]
best_model = None


for j, model_creator in enumerate(models):
    model = model_creator()
    logging.info(f'Model {j+1}')
    history = model.fit(train_X, train_y, epochs=Parameters.epochs, batch_size=Parameters.batch_size, validation_data=(test_X, test_y), verbose=Parameters.verbosity)
    test_loss, acc, prec, recal = model.evaluate(test_X, test_y, verbose=Parameters.verbosity)
    logging.info(f'Validation accuracy: {acc}')
    
    for epoch in range(Parameters.epochs):
        # Log accuracy after each epoch
        acc_epoch = history.history['val_accuracy'][epoch]
        logging.info(f'Epoch {epoch + 1}, Validation accuracy: {acc_epoch}')
    
    if best_model_history is None or acc > best_model_acc:
        best_model_history = history
        best_model = model  # Store the trained model instance
        best_model_acc = acc

model_histories.append(fold_histories)

Epoch 1/10
115/115 [==============================] - 201s 2s/step - loss: 1.8462 - accuracy: 0.2210 - precision_4: 0.2702 - recall_4: 0.0092 - val_loss: 1.8197 - val_accuracy: 0.1194 - val_precision_4: 0.0000e+00 - val_recall_4: 0.0000e+00
Epoch 2/10
115/115 [==============================] - 185s 2s/step - loss: 1.8055 - accuracy: 0.2361 - precision_4: 0.2769 - recall_4: 0.0025 - val_loss: 1.7839 - val_accuracy: 0.2740 - val_precision_4: 0.0000e+00 - val_recall_4: 0.0000e+00
Epoch 3/10
115/115 [==============================] - 191s 2s/step - loss: 1.7879 - accuracy: 0.2466 - precision_4: 0.2222 - recall_4: 4.0975e-04 - val_loss: 1.7797 - val_accuracy: 0.2740 - val_precision_4: 0.0000e+00 - val_recall_4: 0.0000e+00
Epoch 4/10
115/115 [==============================] - 186s 2s/step - loss: 1.7692 - accuracy: 0.2596 - precision_4: 0.5000 - recall_4: 6.8292e-05 - val_loss: 1.7765 - val_accuracy: 0.2740 - val_precision_4: 0.0000e+00 - val_recall_4: 0.0000e+00
Epoch 5/10
 41/115 [=========>....................] - ETA: 2:07 - loss: 1.7597 - accuracy: 0.2706 - precision_4: 0.0000e+00 - recall_4: 0.0000e+00

In [ ]:
# Evaluate the best model on the test set
test_loss, test_acc, test_prec, test_recall = best_model.evaluate(x_test, y_test)
logging.info(f'Test accuracy {test_acc}')